.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none; 
}

.nav:before, .nav:after {
    content: " ";
    display: table; 
}

.nav:after {
    clear: both; 
}

.nav > li {
    position: relative;
    display: block; 
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px; 
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #eeeeee; 
}

.nav > li.disabled > a {
    color: #777777; 
}

.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
    color: #777777;
    text-decoration: none;
    background-color: transparent;
    cursor: not-allowed; 
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #eeeeee;
    border-color: #DBB780; 
}

.nav .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.nav > li > a > img {
    max-width: none; 
}

.nav-tabs {
    border-bottom: 1px solid #ddd; }

.nav-tabs > li {
    float: left;
    margin-bottom: -1px; 
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857;
    border: 1px solid transparent;
    border-radius: 0 0 0 0; 
}

.nav-tabs > li > a:hover {
    border-color: #eeeeee #eeeeee #ddd; 
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #999;
    background-color: #f3f6fa;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default; 
}

.nav-pills > li {
    float: left; 
}

.nav-pills > li > a {
    border-radius: 0; 
}

.nav-pills > li + li {
    margin-left: 2px; 
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #DBB780; 
}

.nav-stacked > li {
    float: none; 
}

.nav-stacked > li + li {
    margin-top: 2px;
    margin-left: 0; 
}

.nav-justified, .nav-tabs.nav-justified {
    width: 100%; 
}

.nav-justified > li, .nav-tabs.nav-justified > li {
    float: none; 
}

.nav-justified > li > a, .nav-tabs.nav-justified > li > a {
    text-align: center;
    margin-bottom: 5px; 
}

.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto; 
}

@media (min-width: 768px) {
    .nav-justified > li, .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%; 
    }
    .nav-justified > li > a, .nav-tabs.nav-justified > li > a {
        margin-bottom: 0; 
    } 
}

.nav-tabs-justified, .nav-tabs.nav-justified {
    border-bottom: 0; 
}

.nav-tabs-justified > li > a, .nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 0; 
}

.nav-tabs-justified > .active > a, .nav-tabs.nav-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus,
.nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #ddd; 
}

@media (min-width: 768px) {

    .nav-tabs-justified > li > a, .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 0 0 0 0; 
    }

    .nav-tabs-justified > .active > a, .nav-tabs.nav-justified > .active > a,
    .nav-tabs-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs-justified > .active > a:focus,
    .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #f3f6fa; 
    } 
}

.tab-content > .tab-pane {
    display: none; 
}

.tab-content > .active {
    display: block; 
}

.navbar-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-overflow-scrolling: touch; 
}

.navbar-collapse:before, .navbar-collapse:after {
    content: " ";
    display: table; 
}

.navbar-collapse:after {
    clear: both; 
}
      
.navbar-collapse.in {
        overflow-y: auto; }
      
@media (min-width: 768px) {
        
    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none; 
    }
          
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important; 
    }
          
    .navbar-collapse.in {
        overflow-y: visible; 
    }
          
    .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
        padding-left: 0;
        padding-right: 0; 
    } 
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {  
    max-height: 340px; 
}

@media (max-device-width: 480px) and (orientation: landscape) {
        
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        max-height: 200px; 
    } 
}

.container > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-header,
.container-fluid > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px; 
}
      
@media (min-width: 768px) {
        
    .container > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-header,
    .container-fluid > .navbar-collapse {
        margin-right: 0;
        margin-left: 0; 
    } 
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px; 
}
      
@media (min-width: 768px) {
        
    .navbar-static-top {
        border-radius: 0; 
    } 
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030; 
}
      
@media (min-width: 768px) {
    .navbar-fixed-top,
    .navbar-fixed-bottom {
        border-radius: 0; 
    } 
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; 
}

.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0; 
}

.navbar-brand {
    float: left;
    padding: 20px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 60px; 
}

.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none; 
}

.navbar-brand > img {
    display: block; 
}

@media (min-width: 768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: -15px; 
    } 
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 13px;
    margin-bottom: 13px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0; 
}

.navbar-toggle:focus {
    outline: 0; 
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px; 
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px; 
}

@media (min-width: 768px) {
    .navbar-toggle {
        display: none; 
    } 
}


body {
    padding-top: 60px; 
    background: #f3f6fa;
}


/* Font */

body, input, select, textarea {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0.025em;
    line-height: 1.75em; 
}


/* Headings */
    
h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-weight: 300;
    line-height: 1.25em;
    margin: 1em 0;
    text-transform: uppercase; 
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
    border: 0; 
}

h1 {
    line-height: 1.75em; 
}

h2 {
    margin: 1.25em 0 1em; 
}


/* Headers */

header.banner {
    position: relative;
    color: white;
    width: 100%;
    max-width: 100%;
    padding: 48px 0;
    text-align: center;
    overflow: hidden; 
}

header.banner::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-position: center center;
    background-repeat: no-repeat;
    max-height: 100%; 
}

header.banner.cover {
    height: 100%; 
}

header.banner.mountains {
    min-height: 600px; 
}

header.banner.mountains::after {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

header.banner.overlay::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #645862;
    background: url("images/banners/overlay.png") repeat top left;
    z-index: 1; 
}


/* Footer */

#footer {
    padding: 40px 0;
    background-color: #383838;
    color: #fff; 
}

#footer .description {
    text-align: center;
    font-size: 18px;
    color: white;
    line-height: 1.4; 
}

#footer .copyright {
    text-align: center;
    font-size: 12px;
    color: white; 
}

#footer h4 {
    color: #ffad33; 
}

#footer ul {
    list-style: none;
    margin: 20px 0;
    padding: 0; 
}

#footer ul a {
    color: #fff;
    border-bottom: none; 
}

#footer .social {
    text-align: center;
    margin: 36px auto; 
}

#footer .social a, #header .social a {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 5px 0 5px 15px;
    color: #333333;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease; 
}

#header .social-media-icons { 
    padding:0px; 
}

#footer .social a i, #header .social a i { 
    padding-top: 10px; 
}

#footer .social a i.fa-facebook, #header .social a i.fa-facebook { 
    padding-top: 12px; 
}

#footer .social a i.fa-instagram, #header .social a i.fa-instagram { 
    padding-top: 12px; 
}

#footer .social a i.fa-twitter, #header .social a i.fa-twitter { 
    padding-top: 12px; 
}

#footer .social a:first-child, #header .social a:first-child { 
    margin-left: 0; 
}

#footer .social a:hover, #header .social a:hover {
    height: 50px;
    width: 50px;
    margin-top: 0;
    margin-bottom: 0; 
}

#footer .social a:hover i, #header .social a:hover i { 
    padding-top: 16px; 
}

@media (min-width: 768px) {
    #footer .social { 
        margin: 48px auto; 
    }
}


/* Bootstrap Navigation */

.navbar-fixed-top {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075); 
}
      
.navbar-fixed-top .container .navbar-header .navbar-brand {
    background-image: url("images/logos/western-region.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: contain;
    height: 40px;
    width: 240px;
    padding: 0;
    margin-top: 10px;
    border: none;
    color: inherit;
    text-decoration: none; 
}
        
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {  
    .navbar-fixed-top .container .navbar-header .navbar-brand {
        background-image: url("images/logos/western-region@2x.png");
        background-size: contain; 
    } 
}

@media (min-width: 768px) {    
    .navbar-fixed-top .container .navbar-header .navbar-brand {
        width: 240px; 
    } 
}

.navbar-fixed-top .container ul.navbar-nav > li > a {
    border: none;
    color: inherit;
    text-decoration: none;
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px; 
}

.navbar-fixed-top .container ul.navbar-nav > li > a:hover {
    background: none; 
}

.navbar-fixed-top .container ul.navbar-nav > li:hover > a {
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: rgba(219, 183, 128, 0.2); 
}

.navbar-fixed-top .container .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1a1a1a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px; 
}

.navbar-fixed-top .container .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #999;
    display: block;
    transition: 0.3s;
    border-bottom: 0px;
    white-space: nowrap; 
}
          
.navbar-fixed-top .container .sidenav a:hover {
    color: #fff; 
}

.navbar-fixed-top .container .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px; 
}

@media screen and (max-height: 480px) {
    .navbar-fixed-top .container .sidenav {
        padding-top: 15px; 
    }
    
    .navbar-fixed-top .container .sidenav a {
        font-size: 18px; 
    } 
}

header.banner.mountains::after { 
    background-image: url("http://www.oa-bsa.org/images/slider_images/BSA-Cub-Scout-ThunderClap-Graphic-Small.jpg"); 
}
	
.navbar-fixed-top .container .navbar-header .navbar-brand {
    background-image: url("http://oa-bsa.org/uploads/branding/OABSA_Singature_Horizontal_Standard.png"); 
}
	
.logo-western-region-white {
    background-image: url("http://wp.sectionw1n.org/wp-content/uploads/2016/11/Order-of-the-Arrow-1-1.png"); 
}
	
.mountains {
    max-height:400px;
}
	
#footer {
    background-color: #3e505b;
}
	
#footer h4 {
    color:white;
}
	
#footer a {
    color:white;
}
	
#footer .container {
    margin:0px auto; 
    max-width:1000px;
}
	
.container {
    width:100%;
}
	
main.index section.posts .container .row .panel.post {
    background-color:transparent; 
    height:300px; 
    width:200px; 
    text-align:center; 
    margin:25px auto;
}
	
main.index section.posts .container .row .panel.post .panel-body {
    background-color:#5f8fbf; 
    width:200px; 
    height:200px; 
    background-repeat:no-repeat; 
    background-position:center top; 
    background-size:cover; 
    margin:0px auto;
}
	
.panel {
    box-shadow:none;
}
